{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <h1 class="container row justify-content-center col-md-4 offset-md-4 text-center">Edit your profile details</h1>
    <form method="POST" class="container row justify-content-center col-md-6 offset-md-3"
          style="background-color: #b2d8ff" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="col-md-12 text-center">
            <div class="form-group">
                <hr>
                {{ profile_form.image.label }}:
                <br>
                    <img class="profile-image" src="{{ profile_form.image.value.url }}" alt="profile-image">
                <br>

                <input type="file" name="{{ profile_form.image.name }}" value="{{ profile_form.image.value }}"
                       class="form-control">


            </div>
            <div class="form-group">
                {{ profile_form.first_name.label_tag }}
                {{ profile_form.first_name }}
                {{ profile_form.first_name.errors }}

            </div>
            <div class="form-group">
                {{ profile_form.last_name.label_tag }}
                {{ profile_form.last_name }}
                {{ profile_form.last_name.errors }}

            </div>
            <div class="form-group">
                {{ profile_form.gender.label_tag }}
                {{ profile_form.gender }}
                {{ profile_form.gender.errors }}

            </div>
            <div class="form-group">
                {{ profile_form.email.label_tag }}
                {{ profile_form.email }}
                {{ profile_form.email.errors }}

            </div>


            <button type="submit" class="btn btn-primary col-md-4 btn-submit">Edit your details</button>
            <a href="{% url 'profile page' request.user.pk %}" class="btn btn-primary col-md-4 btn-submit">Go back </a>

            <hr>
        </div>
    </form>
{% endblock %}