{% extends "base.html" %}
{% block page_content %}

    <h1 class="container row justify-content-center col-md-4 offset-md-4">Login</h1>
    <form method="POST" class="container row justify-content-center col-md-4 offset-md-4" style="background-color: #b2d8ff">
        {% csrf_token %}
        <div class="col-md-12 text-center">
            <hr>
            {{ form }}


            <button style="margin-top: 1em" type="submit" class="btn btn-primary col-md-4 submit">Login</button>
            <hr>
            <a href="{% url 'send password' %}" type="button" style="margin-bottom: 1em" class="btn btn-primary">Reset password.</a>
            <a href="{% url 'register page' %}" type="button" style="margin-bottom: 1em" class="btn btn-primary">I don't have an account, yet.</a>

        </div>
    </form>
{% endblock %}