{% extends "base.html" %}
{% block page_content %}

    <h1 class="container row justify-content-center col-md-4 offset-md-4">Change password</h1>
    <form method="POST" class="container row justify-content-center col-md-4 offset-md-4" style="background-color: #b2d8ff">
        {% csrf_token %}
        <div class="col-md-12 text-center">
            <hr>
            <div class="text-center ">
                <div class="form-group text-center">
                    <label>
                        <input type="password" name="old-password" placeholder="Old password or the given from us..." />
                    </label>

                </div>
            </div>
            <div class="text-center">
                <div class="form-group text-center">
                    <label>
                        <input type="password" name="new-password" placeholder="New password" />
                    </label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary col-md-6 submit">Change password</button>
            <hr>

        </div>
    </form>
{% endblock %}