{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <div class="album py-5 bg-light">
        <div class="container">
            {% if not request.user.is_authenticated %}
                <div class="container row justify-content-center col-md-6 offset-md-3"
                     style="background-color: #b2d8ff">

                    <div class="card mb-4" style="height: 20rem; width: 100%; margin-top: 3%">
                        <div class="d-flex justify-content-center align-items-center welcome-div">

                        </div>

                    </div>
                    <div class="btn-group mb-4" style="bottom:0; align-items: center;">
                        <a type="button" href="{% url 'login page' %}"
                           class="btn btn-primary col-md-6 btn-submit" style="margin-right: 3px;">Login</a>
                        <a type="button" href="{% url 'register page' %}"
                           class="btn btn-primary col-md-6 btn-submit" style="margin-right: 3px;">Register</a>
                    </div>

                </div>
            {% endif %}
        {% for post, comments in posts.items %}
            <div class="row justify-content-center">

                    <div class="col-md-6">
                        <div class="card mb-4 box-shadow" style="height: 25rem; width: 100%;">
                            <img class="img-thumbnail" style="width: auto;height: 70%; display: block;"
                                 src="/media/{{ post.image }}" alt="post image">
                            <p class="card-text text-center">{{ post.title }}</p>

                            <div class="d-flex justify-content-center post-buttons">
                                <div class="btn-group">
                                    <a type="button" href="{% url 'post details page' post.pk %}"
                                       class="btn btn-sm btn-outline-secondary">View</a>
                                    <a type="button" id="comment-btn-{{ post.pk }}"
                                       class="btn btn-sm btn-outline-secondary comment">Comment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                    {% if comments %}
                        <div class="card mb-4 box-shadow" style="height: 25rem; width: 100%; overflow: auto;">
                        <div class="d-flex justify-content-center">
                            <form class="" method="post" id="comment-form-{{ post.pk }}" style="display: none; margin: 1rem;" >
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>
                                        {{ comment_form.text }}
                                    </label>
                                    <label style="display: none">
                                        <input name="post-pk" value="{{ post.pk }}">
                                    </label>
                                </div>

                                <button id="comment-submit" type="submit">Comment</button>
                            </form>
                        </div>
                        <div id="comments" style="overflow-wrap: break-word;">
                            {% for comment in comments %}

                                <p class="card-text text-left" style="margin-left: 0.5em;">Commented: {{ comment.creator.first_name }} {{ comment.creator.last_name }}</p>
                                <h4 class="card-text text-left" style="margin-left: 1em;">{{ comment.text }}</h4>

                            {% endfor %}
                        </div>



                        </div>
                    </div>
                    {% else %}
                        <div class="card mb-4 box-shadow" style="height: 25rem; width: 100%; overflow: auto;">
                            <div id="comments" style="position: absolute; align-self: center; top: 11rem;">
                                <h3 class="card-text text-left">Be the first to comment!</h3>
                            </div>
                        </div>
                    {% endif %}

            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}