
.profile-image {
    width: 10rem;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    transition: all .2s ease-in-out;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

.profile-image:hover {
    opacity: 100%;
    transition: opacity 2s;
    transform: scale(1.1);

}

.btn-submit:hover {
    opacity: 100%;
    transition: opacity 2s;
    transform: scale(1.1);
}

.welcome-div {
    height: 20rem;
    width: 100%;
    background-image: url("../images/welcome.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.logo {
    height: 4rem;
}

.post-buttons {
    margin-bottom: 2.8em;
    position: absolute;
    bottom: 0;
    align-self: center;
}